body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 900;

  h1 {
    color: black;
    font-size: clamp(3.2rem, 6vw, 10rem);
    margin-bottom: 0.5em;
  }

  h2 {
    color: black;
    font-size: clamp(2rem, 3.5vw, 4rem);
  }

  h3 {
    color: black;
    font-size: clamp(1.5rem, 1.8vw, 2.6rem);
  }

  p {
    color: black;
    font-size: clamp(1.2rem, 1.5vw, 2.2rem);
    margin: 0.5em 0;
  }

  a {
    color: black;
    text-decoration: underline dotted;
  }

  .list-item {
    margin-left: 20px;
  }

  .email {
    overflow-wrap: anywhere;
  }

  // &,
  // * {
  //   cursor: none;
  // }

  // .cursor {
  //   position: fixed;
  //   background: #2128BD;
  //   width: 20px;
  //   height: 20px;
  //   border-radius: 50%;
  //   margin: -10px 0 0 -10px;
  //   will-change: transform;
  //   user-select: none;
  //   pointer-events: none;
  //   z-index: 99999;
  // }

  .shapes {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #2128BD;
    overflow: hidden;
  }

  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;

    $shapes: (#005FFE: 650px, #FFE5E3: 440px, #FFCC57: 270px);

    // @each $color,
    // $size in $shapes {
    //   &.shape-#{index($shapes, ($color $size))} {
    //     background: $color;
    //     // width: $size;
    //     // height: $size;
    //     // margin: (-$size/2) 0 0 (-$size/2);
    //   }
    // }
  }

  $shape-1-min: 185px;
  $shape-2-min: 132px;
  $shape-3-min: 81px;

  $shape-1-val: 28vw;
  $shape-2-val: 18vw;
  $shape-3-val: 12vw;

  $shape-1-max: 650px;
  $shape-2-max: 440px;
  $shape-3-max: 270px;


  .shape-1 {
    background: #005FFE;
    width: clamp($shape-1-min, $shape-1-val, $shape-1-max);
    height: clamp($shape-1-min, $shape-1-val, $shape-1-max);
    margin-left: calc(-1/2 * clamp($shape-1-min, $shape-1-val, $shape-1-max));
    margin-top: calc(-1/2 * clamp($shape-1-min, $shape-1-val, $shape-1-max));
  }

  .shape-2 {
    background: #FFE5E3;
    width: clamp($shape-2-min, $shape-2-val, $shape-2-max);
    height: clamp($shape-2-min, $shape-2-val, $shape-2-max);
    margin-left: calc(-1/2 * clamp($shape-2-min, $shape-2-val, $shape-2-max));
    margin-top: calc(-1/2 * clamp($shape-2-min, $shape-2-val, $shape-2-max));
  }

  .shape-3 {
    background: #FFCC57;
    width: clamp($shape-3-min, $shape-3-val, $shape-3-max);
    height: clamp($shape-3-min, $shape-3-val, $shape-3-max);
    margin-left: calc(-1/2 * clamp($shape-3-min, $shape-3-val, $shape-3-max));
    margin-top: calc(-1/2 * clamp($shape-3-min, $shape-3-val, $shape-3-max));
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: white;
    mix-blend-mode: screen;
  }
}

.page-container {
  padding: 0 20px 60px;
  height: min-content;
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-device-width: 769px) {
  .mobile-break {
    display: none;
  }
}